$lightGrey: #D6D6D6;
$brightYellow: #FFEE32;
$yellowishOrange: #FFD100;
$darkGrey1: #202020;
$darkGrey2:#333533;
.NavBar{
    position: fixed;
    z-index:10;
    background-color: $darkGrey1;
    width:100%;
    height:100px;
}
.toolContainer{
    display: grid;
    grid-template-rows: 35px 35px;
    grid-template-columns: repeat(4,30px);
    padding:15px;
}
#activeTool{
    background-color: $yellowishOrange;
    path{
        fill:black;
    }
}