$lightGrey: #D6D6D6;
$brightYellow: #FFEE32;
$yellowishOrange: #FFD100;
$darkGrey1: #202020;
$darkGrey2:#333533;

.noteInToolBar{
    cursor: pointer;
    padding:1px;
    border-radius: 3px;
    &:hover{
        background-color: $yellowishOrange;
    }
    &:hover path{
        fill:$darkGrey1 !important;
    }
}
.clef{
    height:100%;
    display:inline-block;
    position: relative;
    top:6px;
}
.time{
    height:100%;
    display:inline-block;
    position: relative;
    top:7px;
}
.note{
    display:inline-block;
    position:relative;
}
.helpLines{
    position: absolute;
    top:-25px;
    left:0px
}