.WhitePage{
    width:(210 * 5px);
    height:(297 * 5px);
    background-color: white;
    position:absolute;
    left:50%;
    top:150px;
    transform: translate(-50%,0%);
    margin:10px;
    padding:40px;
}
.stave{
    position: relative;
    width:100%;
    height:8%;
}
.line{
    height:1px;
    position: relative;
    top:2px;
    background-color: black;
}
.space{
    width:100%;
    height:5px;
}
.signs{
    position: absolute;
    height:100%;
    top:0px;
    z-index: -1;

}
.bar{
    display:inline-block;
    position: relative;
    min-width:fit-content;
}
.barLine{
    width:1px;
    height:40px;
    position:absolute;
    top: 23px;
    right:0px;
    background-color: black;
}