$lightGrey: #D6D6D6;
$brightYellow: #FFEE32;
$yellowishOrange: #FFD100;
$darkGrey1: #202020;
$darkGrey2:#333533;

.noteInToolBar{
    cursor: pointer;
    padding:1px;
    border-radius: 3px;
    path{
        fill:white;
    }
    &:hover{
        background-color: $yellowishOrange;
    }
    &:hover path{
        fill:$darkGrey1;
    }
}
.activeTool{
    background-color: $yellowishOrange;
    path{
        fill:black; 
    }
}
.clef{
    height:100%;
    display:inline-block;
    position: relative;
}
.time{
    height:100%;
    display:inline-block;
    position: relative;
    top:7px;
}
.note{
    display:inline-block;
    position:relative;
}
.rotatenote{
    transform:rotate(90deg)
}
.helpLines{
    position: absolute;
    top:-25px;
    left:0px
}